<div style="width: 600px; height:600px;">
    <div class="modal-header">
        <button type="button" style="float:right" data-ng-click="cancel()"><i class="fa fa-times"></i></button>
        <h4 style="" class="model-title">Laag toevoegen</h5>
    </div>
    <div class="modal-content">
        <input class="searchbox" type="text" ng-model="searchTerm" ng-change="searchChanged()" placeholder="Geef een trefwoord of een url in" />
        <div ng-repeat="theme in urls">
            <div>
                {{theme.Naam}} 
            </div>
        </div> 
    </div>
    <div class="modal-footer">
        <button data-ng-click="ok()">Klaar</button>
    </div>
</div>