<div class="layercontroller-checkbox">
    <input class="visible-box" type="checkbox" id="{{grplyrctrl.grouplayer.name}}{{grplyrctrl.grouplayer.id}}" ng-model="grplyrctrl.grouplayer.visible"
    ng-change="grplyrctrl.chkChanged()">
    <label for="{{grplyrctrl.grouplayer.name}}{{grplyrctrl.grouplayer.id}}">{{grplyrctrl.grouplayer.name}}</label>
    <div ng-repeat="layer in grplyrctrl.grouplayer.Layers | filter :  { enabled: true }">
        <tink-Layer layer="layer">
        </tink-Layer>
    </div>
</div>