<div class="gepoPuntTemplate row relative-container">
    <div class="col-md-4 flex-column flex-grow-1 margin-top margin-bottom">
        <div ng-show="loading == false" class="overflow-wrapper flex-grow-1 list-selectable margin-top margin-bottom">
            <div ng-if="!searchIsUrl" ng-repeat="theme in availableThemes">
                <dl ng-class="{active: isActive(theme)}" ng-class="{'not-allowed': theme.Type != 'wms' &&  theme.Type != 'esri'}">
                    <a href="#" class="theme-layer" ng-click="geopuntThemeChanged(theme)">
                        <dt>{{theme.Naam}}</dt>
                    </a>
                    <i ng-if="theme.Added == true" class="fa fa-check-circle"></i>
                    <i ng-if="theme.Added == null" class="fa fa-check-circle-o"></i>
                </dl>
            </div>
        </div>
        <div ng-show="loading == false">
            <tink-pagination ng-hide="numberofrecordsmatched <= 5" tink-items-per-page-values="[5]" tink-current-page="currentPage" tink-change="pageChanged(page,perPage,next)"
                tink-total-items="numberofrecordsmatched" tink-items-per-page="recordsAPage"></tink-pagination>
        </div>
        <div ng-if="loading == true" class="loader">

        </div>
    </div>
    <div class="col-md-8 flex-column flex-grow-1 margin-top margin-bottom">
        <preview-layer ng-show="themeloading == false" class="margin-top" ng-if="copySelectedTheme" addorupdatefunc="AddOrUpdateTheme()"
            theme="copySelectedTheme">
        </preview-layer>
        <div ng-if="error">
            {{error}}
        </div>
        <div class="loader" ng-show="themeloading == true"></div>
    </div>
</div>