<div class="previewLayerTemplate flex-column flex-grow-1">
    <div class="margin-top">
        <p>{{theme.Description}}</p>
        <p><small><a ng-href="{{theme.CleanUrl}}" target="_blank">Details</a></small></p>
    </div>
    <div class="layercontroller-checkbox overflow-wrapper margin-bottom flex-grow-1">
        <input indeterminate-checkbox child-list="theme.AllLayers" property="enabled" type="checkbox" ng-model="theme.enabled" id="{{theme.name}}">
        <label for="{{theme.name}}">{{theme.name}}</label>
        <div ng-repeat="mainlayer in theme.Layers">
            <tink-managementlayer layer="mainlayer"></tink-managementlayer>
        </div>
    </div>
    <div class="text-align-right" ng-show="theme !== null">
        <button class="btn-sm btn-primary" ng-if="theme.Added == false" ng-disabled="!theme.enabled" ng-click="addorupdatefunc()">Toevoegen</button>
        <button class="btn-sm" ng-if="theme.Added != false" ng-click="addorupdatefunc()">Bijwerken</button>
        <button class="btn-sm" ng-if="theme.Added != false" ng-click="delTheme()">Verwijderen</button>
    </div>
</div>

