<div class="solrGISTemplate row relative-container flex-grow-1">
    <div class="col-xs-5 flex-column flex-grow-1">
        <div class="overflow-wrapper flex-grow-1 list-selectable margin-top margin-bottom border-right">
            <div ng-show="loading == false" ng-repeat="theme in availableThemes">
                <dl ng-class="{active: isActive(theme)}">
                    <a href="#" class="theme-layer" ng-click="solrThemeChanged(theme)">
                        <dt>{{theme.name}}</dt>
                    </a>
                    <dd ng-repeat="layer in theme.layers">
                        <span class="">{{layer.naam}}
                            <span ng-show="layer.featuresCount > 0"> ({{layer.featuresCount}})</span>
                        </span>
                        <div class="featureinsolr">
                            {{layer.features.join(', ')}}
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
        <div ng-show="loading == false">
            <tink-pagination ng-hide="numberofrecordsmatched <= 5" tink-current-page="currentPage" tink-change="pageChanged(page,perPage,next)"
                tink-total-items="numberofrecordsmatched" tink-items-per-page="recordsAPage"></tink-pagination>
        </div>
        <div ng-if="loading == true" class="loader">

        </div>
    </div>
    <div class="col-xs-7 flex-column flex-grow-1">
        <preview-layer ng-if="copySelectedTheme" theme="copySelectedTheme" addorupdatefunc="AddOrUpdateTheme()">

        </preview-layer>
        <div ng-if="error">
            {{error}}
        </div>
        <div class="loader" ng-show="themeloading == true"></div>

    </div>
</div>