<div class="row relative-container">
    <div class="col-md-4 flex-column flex-grow-1 margin-top margin-bottom">
        <div>
            <input class="searchbox" type="text" ng-model="searchTerm" ng-change="searchChanged()" ng-model-options="{debounce: 250}" placeholder="Geef een trefwoord" />
        </div>
        <div class="overflow-wrapper flex-grow-1 list-selectable margin-top margin-bottom">
            <div ng-repeat="theme in availableThemes">
                <dl ng-class="{active: isActive(theme)}">
                <!-- ng-class="{'greytext': theme.Type != 'wms' &&  theme.Type != 'esri'}"-->
                    <a href="#" class="theme-layer" ng-click="solrThemeChanged(theme)">
                        <dt>{{theme.name}}</dt>
                    </a>
                    <dd ng-repeat="layer in theme.layers">
                        <span class="">{{layer.naam}}
                            <span ng-show="layer.featuresCount > 0"> ({{layer.featuresCount}})</span>
                        </span>
                        <div class="featureinsolr">
                            {{layer.features.join(', ')}}
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
        <div>
            <tink-pagination  ng-hide="numberofrecordsmatched <= 5" tink-current-page="currentPage" tink-change="pageChanged(page,perPage,next)" tink-total-items="numberofrecordsmatched" tink-items-per-page="recordsAPage"></tink-pagination>
        </div>
    </div>
    <div class="col-md-8 flex-column flex-grow-1 margin-top margin-bottom">
        <preview-layer ng-if="copySelectedTheme"  theme="copySelectedTheme" addorupdatefunc="AddOrUpdateTheme()">

        </preview-layer>
    </div>
</div>
