<div class="row set-height">
    <div class="col-md-4 set-height">
        <div class="row set-height">
            <div class="col-xs-12">
                <input class="searchbox" type="text" ng-model="searchTerm" ng-change="searchChanged()" ng-model-options="{debounce: 250}" placeholder="Geef een trefwoord" />
            </div>
            <div class="col-xs-12 scrollable">
                <div ng-repeat="theme in availableThemes">
                    <div ng-click="solrThemeChanged(theme)" class="greytext">
                    <!-- ng-class="{'greytext': theme.Type != 'wms' &&  theme.Type != 'esri'}"-->
                        {{theme.name}}
                        <div style="margin-left: 20px;" ng-repeat="layer in theme.layers">
                            <span ng-class="{'blacktext': layer.isMatch}">{{layer.naam}}
                                <span ng-show="layer.featuresCount > 0"> ({{layer.featuresCount}})</span>
                            </span>
                            <div class="blacktext featureinsolr">
                                {{layer.features.join(', ')}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <tink-pagination  ng-hide="numberofrecordsmatched <= 5" tink-current-page="currentPage" tink-change="pageChanged(page,perPage,next)" tink-total-items="numberofrecordsmatched" tink-items-per-page="recordsAPage"></tink-pagination>
            </div>
        </div>
    </div>
    <div class="col-md-8 scrollable">
        <div ng-if="copySelectedTheme !== null">
            <button ng-if="copySelectedTheme.Added != false" data-ng-click="AddOrUpdateTheme()">Update</button>
            <p>{{copySelectedTheme.Description}}</p>
            <p><small><a ng-href="{{copySelectedTheme.CleanUrl}}" target="_blank">Details</a></small></p>
            <div class="layercontroller-checkbox">
                <input indeterminate-checkbox child-list="copySelectedTheme.AllLayers" property="enabled" type="checkbox" ng-model="copySelectedTheme.enabled"
                    id="{{copySelectedTheme.name}}">
                <label for="{{copySelectedTheme.name}}"> {{copySelectedTheme.name | limitTo: 99}}</label>
                <div ng-repeat="mainlayer in copySelectedTheme.Layers">
                    <tink-managementlayer layer="mainlayer">
                    </tink-managementlayer>
                </div>
            </div>
            <button ng-if="copySelectedTheme.Added == false" data-ng-click="AddOrUpdateTheme()">Toevoegen</button>
        </div>
    </div>
</div>
