<div class="wmsUrlTemplate row relative-container">
    <div class="col-xs-8 flex-column flex-grow-1 margin-top margin-bottom">
        <div>
            <input class="searchbox" type="text" ng-model="url" ng-change="urlChanged()" placeholder="Geef een wms url in" />
        </div>
    </div>
    <div class="col-xs-4 flex-column flex-grow-1 margin-top margin-bottom">
        <div>
            <button ng-disabled="!urlIsValid" ng-click="laadUrl()">Laad url</button>
        </div>
        <preview-layer ng-show="themeloading == false" class="margin-top" ng-if="copySelectedTheme" addorupdatefunc="AddOrUpdateTheme()"
            theme="copySelectedTheme">
        </preview-layer>
        <div ng-if="error">
            {{error}}
        </div>
        <div class="loader" ng-show="themeloading == true"></div>
    </div>
</div>
