<div class="SEARCHRESULT flex-column">
    <div class="flex-column" ng-if="!srchrsltsctrl.selectedResult && srchrsltsctrl.featureLayers.length == 0">
        <div class="col-xs-12 flex-grow-1 margin-top">
            Geen resultaten.
        </div>
    </div>
    <div class="flex-column flex-grow-1 margin-top" ng-if="!srchrsltsctrl.selectedResult && srchrsltsctrl.featureLayers.length > 0">
        <div class="row extra-padding">
            <div class="col-xs-12 margin-bottom text-left">
                <button class="btn" tink-tooltip="Exporteer naar CSV" tink-tooltip-align="bottom" ng-if="srchrsltsctrl.exportToCSVButtonIsEnabled"
                    ng-click="srchrsltsctrl.exportToCSV()">
                    <svg class="icon icon-sik-file-csv"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sik-file-csv"></use></svg>
                </button>
                <button class="btn" ng-class="{active: srchrsltsctrl.extendedType =='add'}" tink-tooltip="Selectie toevoegen" tink-tooltip-align="bottom" ng-click="srchrsltsctrl.addSelection()">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <button class="btn" ng-class="{active: srchrsltsctrl.extendedType=='remove'}" tink-tooltip="Selectie verwijderen" tink-tooltip-align="bottom" ng-click="srchrsltsctrl.removeSelection()">
                      <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
                <button class="btn-sm" ng-if="srchrsltsctrl.extraResultButtonIsEnabled" ng-click="srchrsltsctrl.extraResultButton()">{{srchrsltsctrl.resultButtonText}}</button>
                <button class="btn-sm" ng-if="srchrsltsctrl.secondResultButtonIsEnabled" ng-click="srchrsltsctrl.secondResultButton()">{{srchrsltsctrl.secondResultButtonText}}</button>
            </div>

            <div class="col-xs-12">
                <select ng-model="srchrsltsctrl.layerGroupFilter">
                    <option value="geenfilter" selected="selected">Geen filter ({{srchrsltsctrl.features.length}})</option>
                    <option ng-repeat="feat in srchrsltsctrl.featureLayers" value="{{feat}}">{{feat}} ({{srchrsltsctrl.aantalFeaturesMetType(feat)}})</option>
                </select>
            </div>
        </div>
        <div class="overflow-wrapper margin-top">
            <ul ng-repeat="layerGroupName in srchrsltsctrl.featureLayers">
                <tink-accordion ng-if="srchrsltsctrl.layerGroupFilter=='geenfilter' || srchrsltsctrl.layerGroupFilter==layerGroupName " data-one-at-a-time="false">
                    <div class="tink-accordion-panel xl-panel" ng-show="srchrsltsctrl.aantalFeaturesMetType(layerGroupName) >= 1000">
                        <data-header>
                            <p class="nav-aside-title" style="pointer-events: none; align-content: center">{{layerGroupName}} ({{srchrsltsctrl.aantalFeaturesMetType(layerGroupName)}})
                                <button prevent-default ng-click="srchrsltsctrl.deleteFeatureGroup(layerGroupName)" class="trash pull-right trash-xl" style="pointer-events:all"></button>
                            </p>
                        </data-header>
                    </div>
                    <tink-accordion-panel data-is-collapsed="srchrsltsctrl.collapsestatepergroup[layerGroupName]" ng-show="srchrsltsctrl.aantalFeaturesMetType(layerGroupName) <= 1000">
                        <data-header>
                            <p class="nav-aside-title">{{layerGroupName}} ({{srchrsltsctrl.aantalFeaturesMetType(layerGroupName)}})
                                <button prevent-default ng-click="srchrsltsctrl.deleteFeatureGroup(layerGroupName)" class="trash pull-right"></button>
                            </p>
                        </data-header>
                        <data-content ng-show="srchrsltsctrl.aantalFeaturesMetType(layerGroupName) <= 1000">
                            <li ng-repeat="feature in srchrsltsctrl.features | filter: { layerName:layerGroupName } :true" ng-mouseover="srchrsltsctrl.HoverOver(feature)">
                                <div class="mouse-over">
                                    <a tink-tooltip="{{feature.displayValue}}" tink-tooltip-align="top" ng-click="srchrsltsctrl.showDetails(feature)">{{ feature.displayValue| limitTo : 40 }}
                                     </a>
                                    <button class="trash pull-right mouse-over-toshow" prevent-default ng-click="srchrsltsctrl.deleteFeature(feature)"></button>
                                </div>
                            </li>
                        </data-content>
                    </tink-accordion-panel>
                </tink-accordion>
            </ul>
        </div>
    </div>
</div>