<div ng-if="srchslctdctrl.selectedResult">
    <div class="row">
        <div class="col-md-4">
            <button class="pull-left srchbtn" ng-if="srchslctdctrl.prevResult" ng-click="srchslctdctrl.vorige()">Vorige</button>
        </div>
        <div class="col-md-4">
            <button class="srchbtn" ng-click="srchslctdctrl.delete()">Delete</button>
        </div>
        <div class="col-md-4">
            <button class="pull-right srchbtn" ng-if="srchslctdctrl.nextResult" ng-click="srchslctdctrl.volgende()">Volgende</button>
        </div>
    </div>
    <div class="row" ng-repeat="prop in srchslctdctrl.props">
        <div class="col-md-5"> {{ prop.key}} </div>
        <div class="col-md-7" ng-if="prop.value.toLowerCase() != 'null'">
            <a ng-if=" prop.value.indexOf( 'https://')==0 || prop.value.indexOf( 'http://')==0 " ng-href="{{prop.value}}" target="_blank">Link</a>
            <div ng-if="prop.value.indexOf( 'https://') !=0 && prop.value.indexOf( 'http://') !=0 ">{{ prop.value }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <button class="pull-left srchbtn" ng-click="srchslctdctrl.toonFeatureOpKaart()">Tonen</button>
        </div>
        <div class="col-md-6">
            <!-- ng-show="srchslctdctrl.selectedResult.theme.Type==='esri' -->
            <button class="pull-right srchbtn" ng-click="srchslctdctrl.doordruk()">Buffer</button>
            <input type="number" class="pull-left" ng-model="srchslctdctrl.buffer"></input>
        </div>
    </div>
    <button class="srchbtn " ng-click="srchslctdctrl.close(srchslctdctrl.selectedResult) ">Terug naar resultaten</button>
</div>