<div data-tink-nav-aside="" id="leftaside" data-auto-select="true" data-toggle-id="asideNavLeft" class="nav-aside nav-left">
    <aside>
        <div class="nav-aside-section">
            <p class="nav-aside-title">Resultaten</p>
        </div>

            <button class="nav-left-toggle" data-tink-sidenav-collapse="asideNavLeft">
              <a href="#" title="Open menu"><span class="sr-only">Open left menu</span></a>
            </button>

        <div class="" ng-show="srchctrl.Loading == 0">
            <tink-search-results></tink-search-results>
            <tink-search-selected></tink-search-selected>
        </div>
        <div class="" ng-show="srchctrl.Loading > 0">
            <div class="loader-lg center-block margin-top margin-bottom"></div> {{srchctrl.LoadedCount()}} / {{srchctrl.MaxLoading}}
        </div>
    </aside>
</div>
