<ul ng-if="!srchrsltsctrl.selectedResult" ng-repeat="layerGroupName in srchrsltsctrl.featureLayers">
    <p class="nav-aside-title">{{layerGroupName}}</p>
    <li ng-repeat="feature in srchrsltsctrl.features | filter: { layerName: layerGroupName }" ng-mouseover="feature.hoverEdit = true"
    ng-mouseleave="feature.hoverEdit = false">
        <a ng-if="!feature.hoverEdit" ng-click="srchrsltsctrl.showDetails(feature)">{{ feature.displayValue | limitTo : 23}}<br/>DETAILS</a>
        <div ng-if="feature.hoverEdit">
            <a ng-click="srchrsltsctrl.showDetails(feature)">{{ feature.displayValue}}
                <br/>DETAILS</a>
            <a ng-click="srchrsltsctrl.deleteFeature(feature)"><i class="fa fa-trash"></i></a>
        </div>
    </li>
</ul>