<div class="SEARCHSELECTED flex-column flex-grow-1 extra-padding" ng-if="srchslctdctrl.selectedResult">

    <div class="margin-top margin-bottom">
        <div class="col-xs-12 text-right">
            <button class="btn" tink-tooltip="Doordruk" tink-tooltip-align="top" ng-click="srchslctdctrl.doordruk()" ng-hide="srchslctdctrl.selectedResult.theme.Type != 'esri' || mobile">
                <svg class="icon icon-sik-press-through"><use xlink:href="#icon-sik-press-through"></use></svg>
            </button>
            <button class="btn" tink-tooltip="Buffer" tink-tooltip-align="top" ng-click="srchslctdctrl.buffer()" ng-hide="srchslctdctrl.selectedResult.theme.Type != 'esri' || mobile">
                <svg class="icon icon-sik-buffer"><use xlink:href="#icon-sik-buffer"></use></svg>
            </button>

            <button class="btn" tink-tooltip="Exporteer naar CSV" tink-tooltip-align="top" ng-if="srchslctdctrl.exportToCSVButtonIsEnabled" ng-click="srchslctdctrl.exportToCSV()">
                <svg class="icon icon-sik-file-csv"><use xlink:href="#icon-sik-file-csv"></use></svg>
            </button>
            <button class="btn" tink-tooltip="Verwijderen" tink-tooltip-align="top" ng-click="srchslctdctrl.delete()">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
    </div>

    <div class="col-xs-12 overflow-wrapper flex-grow-1">
        <dl ng-repeat="prop in srchslctdctrl.props">
            <dt>{{ prop.key}}</dt>
            <div ng-if="prop.value.toLowerCase() != 'null'">
                <a ng-if="prop.value.indexOf('https://')==0 || prop.value.indexOf( 'http://')==0 " ng-href="{{prop.value}}" target="_blank">% Link</a>
                <dd ng-if="prop.value.indexOf('https://') !=0 && prop.value.indexOf( 'http://') !=0 ">{{ prop.value }}</dd>
            </div>
        </dl>
    </div>

    <div class="margin-top">
        <div class="col-xs-12">


            <div class="btn-group">
                <button type="button" class="btn" ng-disabled="!srchslctdctrl.prevResult" ng-click="srchslctdctrl.vorige()">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <button type="button" class="btn" ng-disabled="!srchslctdctrl.nextResult" ng-click="srchslctdctrl.volgende()">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>


            <button class="btn-primary pull-right" ng-hide="srchslctdctrl.selectedResult.theme.Type != 'esri'" ng-click="srchslctdctrl.toonFeatureOpKaart()">Tonen</button>


        </div>
        <div class="col-xs-12 margin-top margin-bottom">
            <a class="pull-right" ng-click="srchslctdctrl.close(srchslctdctrl.selectedResult)">Terug naar resultaten</a>
        </div>
    </div>
</div>
