<div data-tink-nav-aside="" id="leftaside" data-auto-select="true" data-toggle-id="asideNavLeft" class="nav-aside nav-left">
    <aside>
        <div class="nav-aside-section">
            <p class="nav-aside-title">Search</p>
        </div>
        <div class="">
            <span class="gis-toggle-left" data-tink-sidenav-collapse="asideNavLeft">
              <a href="#" title="Open menu"><i class="fa fa-angle-double-left"><span class="sr-only">Open left menu</span></i></a>
            </span>
        </div>
        <div class="" ng-show="srchctrl.Loading == 0">
            <tink-search-results></tink-search-results>
            <tink-search-selected></tink-search-selected>
        </div>
        <div class="" ng-show="srchctrl.Loading > 0">
            <div class="loader"></div> {{srchctrl.MaxLoading - srchctrl.Loading}}/ {{srchctrl.MaxLoading}}
        </div>
    </aside>
</div>
