<div class="flex-column flex-grow-1 margin-top" ng-if="srchslctdctrl.selectedResult" class="extra-padding">

    <div class="margin-bottom">
        <div class="col-xs-12">
            <div class="btn-group">
                <button type="button" class="btn" ng-disabled="!srchslctdctrl.prevResult" ng-click="srchslctdctrl.vorige()">Vorige</button>
                <button type="button" class="btn" ng-disabled="!srchslctdctrl.nextResult" ng-click="srchslctdctrl.volgende()">Volgende</button>
            </div>
            <button class="btn pull-right" ng-click="srchslctdctrl.delete()">Verwijderen</button>
        </div>
    </div>

    <div class="col-xs-12 overflow-wrapper">
        <dl ng-repeat="prop in srchslctdctrl.props">
            <dt>{{ prop.key}}</dt>
            <div ng-if="prop.value.toLowerCase() != 'null'">
                <a ng-if=" prop.value.indexOf( 'https://')==0 || prop.value.indexOf( 'http://')==0 " ng-href="{{prop.value}}" target="_blank">% Link</a>
                <dd ng-if="prop.value.indexOf( 'https://') !=0 && prop.value.indexOf( 'http://') !=0 ">{{ prop.value }}</dd>
            </div>
        </dl>
    </div>

    <div class="margin-top margin-bottom">
        <div class="col-xs-12">
            <button class="btn-primary" ng-click="srchslctdctrl.toonFeatureOpKaart()">Tonen</button>
            <div class="pull-right">
                <button class="margin-right" ng-click="srchslctdctrl.doordruk()">Doordruk</button>
                <button ng-click="srchslctdctrl.buffer()">Buffer</button>
                <button class="btn-sm" ng-click="srchslctdctrl.exportToCSV()">Exporteer naar CSV</button>
            </div>
        </div>
        <div class="col-xs-12 margin-top">
            <a class="pull-right" ng-click="srchslctdctrl.close(srchslctdctrl.selectedResult)">Terug naar resultaten</a>
        </div>
    </div>
</div>