@import "../../bower_components/tink-core/dist/tink/functions";
@import "../../bower_components/tink-core/dist/tink/mixins";
@import "../../bower_components/tink-core/dist/tink/variables";

$left-nav-aside-width: $nav-aside-width + $nav-aside-extra-body-padding + 100px; // making wider for extra detail content
$map-buttons-position-left-xs: 10px;
$map-buttons-position-left-sm: $map-buttons-position-left-xs + 5px;
$leaflet-control-position-left-xs: $map-buttons-position-left-xs + 90px;
$leaflet-control-position-left-sm: $map-buttons-position-left-sm + 90px;


/**
 * Map
 */

.tink-map, .leafletmap {
  height: 100%;
  width: 100%;
}

.tink-map {
  // !! not necessary anymore
  // @include mq($screen-sm) {
  //   padding-right: rem($nav-aside-width);
  //   padding-left: rem($nav-aside-width);
  // }

  .nav-aside {
    top: 0; // is overwritten in specificity by Tink navigation script when using solution
    z-index: 1000; // set above leafletmap and leaflet-control

    dl {
      margin-bottom: rem($font-size-base/2);
    }


  }

  .nav-aside.nav-left {
    width: rem($left-nav-aside-width);
  }

  // !! not necessary anymore
  // .fa-fw {
  //   width: rem(10);
  // }
}

.leafletmap {
  position: relative;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    opacity: 0.8;
}


// .leaflet-left .leaflet-control-scale {
//   margin-left: rem(130);
//   margin-bottom: rem(13);

//   @include mq($screen-sm) {
//     margin-left: rem(135);
//     margin-bottom: rem(18);
//   }
// }

.leaflet-popup-content-wrapper {
    border-radius: 6px;
}

svg.leaflet-zoom-animated {
    z-index: 999;
}
.leaflet-marker-pane {
    z-index: 999;
}
.leaflet-popup-pane {
    z-index: 1000;
}

.leaflet-overlay-pane {
    z-index: auto;
}
.leaflet-objects-pane {
    z-index: auto;
}
.leaflet-tile-pane {
    z-index: auto;
}

.leaflet-top {
  .leaflet-control {
    left: rem($leaflet-control-position-left-xs);
    margin: 0; //reset default leaflet margin so positioning can be done on typeahead

    @include mq($screen-sm) {
      left: rem($leaflet-control-position-left-sm);
    }
  }
}


/**
 * Map buttons styling
 */

.ll {
  position: absolute;
  z-index: 600;

  .fa {
      width: rem($font-size-base);
  }
}

button.btn.active {
  background-color: dodgerblue;
  color: white;
}


/**
 * Map buttons left side
 */

.drawingbtns {
  left: rem(55);
  top: rem(130);

  @include mq($screen-sm) {
    left: rem(60);
    top: rem(135);
  }
}

.interactiebtns {
  left: rem($map-buttons-position-left-xs); // this shouldn't be necessary if it's set in leaflet-control container
  top: rem(100);

  @include mq($screen-sm) {
    left: rem($map-buttons-position-left-sm); // this shouldn't be necessary if it's set in leaflet-control container
    top: rem(105);
  }
}

.kaarttypes {
  left: rem($map-buttons-position-left-xs);
  bottom: rem(10);

  @include mq($screen-sm) {
    left: rem($map-buttons-position-left-sm);
    bottom: rem(15);
  }

  > .btn {
    height: rem(30);
    font-size: rem(10);
  }
}

.metenbtns {
  left: rem(55);
  top: rem(165);

  @include mq($screen-sm) {
    left: rem(60);
    top: rem(170);
  }
}

.searchbtns {
  left: rem($map-buttons-position-left-xs);
  top: rem(10);

  @include mq($screen-sm) {
    left: rem($map-buttons-position-left-sm);
    top: rem(15);
  }
}

// .zoekbalk {// necessary when it width is dependant of the container?
//   width: rem(150);

//   @include mq($screen-sm) {
//     width: rem(300);
//   }
// }

.zoekbalken {
  // left: rem(90);
  left: rem($leaflet-control-position-left-xs);
  top: rem(10); // same values as searchbtns
  width: rem(225);

  @include mq($screen-sm) {
    // left: rem(95);
    left: rem($leaflet-control-position-left-sm);
    top: rem(15); // same values as searchbtns
  }
}

.zoekbalken2 {
  left: rem(250);
  top: rem(10);

  @include mq($screen-sm) {
    left: rem(260);
    top: rem(15);
  }
}

.hide-element {
  display: none !important;
}

// #zoekbalken { //!! styling set on class, not id
//   width: 200px;
// }

.blue {
  color: blue;
}
.zoekbalken2  { //!! what's the use of this class?
  width: 200px;
}


/**
 * Map buttons right side
 */

// .localiseerbtn {
//   right: rem(10);
//   bottom: rem(20);

//   @include mq($screen-sm) {
//     right: rem(15);
//     bottom: rem(20);
//   }
// }

.viewbtns {
  right: rem(10);
  bottom: rem(10);

  @include mq($screen-sm) {
    right: rem(15);
    bottom: rem(15);
  }
}


/**
 * Loader
 */

.loading {
  right: rem(10);
  top: rem(10);
  background-color: white;
  @include mq($screen-sm) {
    right: rem(15);
    top: rem(15);
  }
}

.loader-advanced {
  height: rem(80);
  text-align: center;
  position: relative;
  width: rem(80);

  .loader {
    height: 5em;
    width: 5em;
    top: 0.3em;
  }

  .loader-percentage {
    position: relative;
    top: - rem(42);
  }

}


/**
 * Separate components
 */

//Add this class to .main to override default padding
.full-width {
    padding-left: 0 !important;
    padding-right: 0 !important;
    transform: translate(0, 0) !important
}

//Creating parent container for flex column and scrollable list
.relative-container {
  height: 60vh;

  // flex container settings
  display: flex;
}


.flex-column {
  // flex item settings
  flex-grow: 1;

  // flex container settings
  display: flex;
  flex-direction: column;
}


.scrollable-list {
  overflow: auto;

  // flex item settings
  flex-grow: 1;

  dl {
    margin-bottom: rem(10);

    dd {
      color: $gray;
      cursor: default;
      margin-left: rem(10);
      transition: all $animation-speed linear;
    }

    dt {
      color: $gray-light;
      cursor: pointer;
      transition: all $animation-speed linear;
    }

    &.active {
      a {
        dt {
          color: $brand;
        }
      }

      dd {
        color: darken($gray, 25%);
      }
    }
  }
}


/* List toggle */
// FYI .can-open class is also nested in Tink navigation, but doesn't conflict with following styling
.can-open {

  .show-layer {
    cursor: pointer;
    display: inline-block;
    padding: 0 rem(5) 0 rem(5);
    user-select: none;

    &:after {
      content: "\f0d7";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      // transition: color $animation-speed linear, transform $animation-speed linear; // doesn't work right now
    }
  }

  &.open {
    .show-layer {
      &:after {
        content: "\f0d8";
        // transform: rotate(180deg); // doesn't work right now
      }
    }
  }
}

/**
 * Rightside layer menu
 */

/* Lagenbeheer */
.addlayerbtn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}


/* Trash can button */
button.trash {
  background-color: transparent;
  color: #bbb;
  font-family: FontAwesome;
  font-weight: 100;
  border-width: 0;
  padding: 0;

  &:hover,
  &:focus {
    color: #333;
  }

  &:before {
    content: "\f014";
  }
}


/* Table of content */

.toc-item-without-icon {
  display: inline-flex; //set as inline-level flex container
}

.toc-item-with-icon {
  display: inline-flex;
  position: relative;
  .layer-icon {
    height: rem(18);
    left: rem(-25);
    margin-right: rem(5);
    position: absolute;
    width: rem(18);
  }
}

// indentingwise more correct but visually not better
// .li-item {
//   position: relative;
//   .wms-legend {
//     left: rem(-25);
//     position: absolute;
//   }
// }

/* Lagenresultaat */
.theme-layer { // is a actually an a href
  &:hover {
    text-decoration: none;
  }
}

// solrGISTemplate
.blacktext {
  color: black !important;
}

.featureinsolr {
  font-style: italic;
  font-size: 10px;
}

.layercontroller-checkbox
{
    margin-left:10px; // better to use list styling
}

img {
  &.normal-size {
    max-width: initial;
  }
}
// set a pointer on the clickable items
a,
input[type="checkbox"] {
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

// give the elements in de sidenav some more padding on both sides
.nav-aside-padding {
  padding-left: rem(14);
  padding-right: rem(14);
}

// make identation with ul list
ul {
  ul {
    margin-left: rem(24);
  }
}
/**
 * Modal styling
 */

.modal-header {
  border-bottom: 1px solid gray;
  padding: rem(15);
  // text-align: left;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-content {
    // padding: 15px;
    // text-align: left;
}
.modal-footer {
  border-top: 1px solid gray;
  padding: rem(15);
  // text-align: left;
}

.modal-dialog{
    min-width: 1000px;
    background-color: white;
    text-align: left;
    z-index: 9999;
}
.modal {
  // seems to generate unnecessary scrollbar when using second scrollable-list - fixed with initial setting
  overflow: initial;
  z-index: 9998;
}

.modal-body {
  // height: 60vh;
  // padding: rem(15);
  // position: relative;
}

// customize pagination
.table-sort-options {
  .table-sort-info {
    display: none;
  }
  .table-sort-pagination {
    float: left !important;
    margin: 0;
    padding: 0;
    .prev,
    .next {
      span {
        display: none;
      }
    }
  }
}

/**
 * Typeahead styling
 */

.twitter-typeahead {
  left: 0;
  top: rem(10); // same values as searchbtns
  width: rem(225);

  @include mq($screen-sm) {
    top: rem(15);
  }
}

input.typeahead.tt-input {
  background-color: #fff;
}

.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccd6dd;
}
    .tt-focus {
        border: 2px solid #0097cf;
    }

    .tt-query {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .tt-hint {
        color: #999
    }

    .tt-menu {
      max-height: 80vh;
      overflow-y: auto;
        width: 422px;
        margin: 12px 0;
        padding: 8px 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        z-index: 99999;
    }

    .tt-suggestion {
      font-size: rem($font-size-base);
      line-height: $line-height-base;
        padding: 3px 20px;
        // font-size: 18px;
        // line-height: 24px;
        z-index: 99999;
    }

    .tt-suggestion:hover {
        cursor: pointer;
        color: #fff;
        background-color: #0097cf;
    }

    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #0097cf;
    }

    .tt-suggestion p {
        margin: 0;
    }

    .gist {
        font-size: 14px;
    }
    .empty-message {padding:5px;text-align:center;color:red}

    .achtergrondfixvoorpng {
      background-image: url('fa-dot-circle-o_24_0_000000_none.png');
    }


// Legacy code - needs further checking

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.container.container-low-padding {
    padding-left: 0.46875rem;
    padding-right: 0.46875rem;
}
.makeblock{
    display: block !important;
}


.greytext {
  color: lightgrey !important;
}

// This breaks pagination
// a.btn.prev,a.btn.next {
//   display: none;
// }
// div.table-sort-pagination {
//       float: left !important;
// }
.nav-tabs {
  margin:  5px 0px 5px 0px;
}


/**
 * Refactor work in progress
 */

.aside {
  position: relative;
}

.nav-left-toggle,
.nav-right-toggle {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.12);
  border-style: solid;
  border-width: 2px;
  position: fixed;
  text-align: center;
  z-index: 700;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  a{
    color: #333;

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 0 0 0;
      outline: 0;
    }
  }
}

.nav-left-toggle,
.nav-right-toggle {
  font-family: FontAwesome;
  font-weight: 100;
}


.nav-left-toggle {
  border-left-color: #fff;
  right: rem(-33);

  &:before {
    content: "\f101";
  }
}

.nav-right-toggle {
  border-right-color: #fff;
  left: rem(-33);

  &:before {
    content: "\f100";
  }
}

// adjusting the left sidenav width when collapsed
html.has-nav-left .nav-left {
  transform: translate(rem(-$left-nav-aside-width) , 0);
}

// not using .nav-right-can-always-close classes because they create unwanted menu item on top nav
.nav-right {
  transform: translate(15.7142857143rem , 0);
}

.map-buttons-left {
  height: 100%;
  display: inline-block;
  margin-right: -4px; // clear spacing between  divs
  position: relative;
  width: 50%;
}

.map-buttons-right {
  height: 100%;
  display: inline-block;
  position: relative;
  width: 50%;
}

// Set padding for map buttons and change toggle icons
html.nav-left-open {
  .map-buttons-left {
    left: rem($left-nav-aside-width);
  }
  .nav-left {
    transform: translate(0, 0);
  }
  .nav-left-toggle {
    &:before {
      content: "\f100";
    }
  }
  .leaflet-control {
    left: rem($left-nav-aside-width + $leaflet-control-position-left-xs);

    @include mq($screen-sm) {
      left: rem($left-nav-aside-width + $leaflet-control-position-left-sm);
    }
  }
}

// Set padding for map buttons and change toggle icons
html.nav-right-open {
  .map-buttons-right {
    right: rem($nav-aside-width + $nav-aside-extra-body-padding);
  }
  .nav-right {
    transform: translate(0, 0);
  }
  .nav-right-toggle {
    &:before {
      content: "\f101";
    }
  }
}

/**
 * Print settings
 */

// @page Portrait {
//     size: A4 portrait;
// }
// @page Landscape {
//     size: A4 landscape;
// }
.mappart {
  height:100%;
  width:100%;
}
.printpart {
  display: none;
  padding-top:10px;
}
html.print {
  .map-buttons-left, .map-buttons-right, .tink-layers, .tink-search {
    display: none;
  }
  .printpart {
    display: block;
  }
    .mappart {
          height:85%;
          margin-bottom: 10px;
    }
  body { //A4 Portrait
        height:297mm;
        width:210mm;
    }


}
html.print.landscape {
    body // A4 Landscape
    {
        height:205mm;
        width:297mm;
        }
    .mappart {
      height:75%;
    }


}
@media print  {
   body {
        margin-left: auto;
        margin-right: auto;
    }
    .hidden-print {
      display: none !important;
    }
}
.print-corner-image {
  width: 90px;
  height: 90px;
}


.mouse-over-toshow {
  display:none;
}
.mouse-over:hover {
  .mouse-over-toshow {
    display: inline-block;
    cursor: pointer;
  }
}


.leaflet-popup-close-button {
  z-index: 9999; //Make sure the close button is clickable when there is a popup!
}

// fix for sweet-alert bug
.sweet-alert {
  .fieldset {
    display: none;
  }
}
.nav-aside.nav-right { // auto gives problems with collapse and right side map buttons
  // min-width: rem($nav-aside-width);
  // width: auto;
}
