@import "../../bower_components/tink-core/dist/tink/functions";
@import "../../bower_components/tink-core/dist/tink/mixins";
@import "../../bower_components/tink-core/dist/tink/variables";

.fa {
    width: 15.775px;
}

.tink-map, .leafletmap {
  height: 100%;
  width: 100%;
}

.tink-map {
  @include mq($screen-sm) {
    padding-right: rem($nav-aside-width);
    padding-left: rem($nav-aside-width);
  }

  .nav-aside {
    top: 0;
  }

  .fa-fw {
    width: rem(10);
  }
}

.leafletmap {
  position: relative;
}




.ll {
  position: absolute;
  z-index: layer('base');
}

.interactiebtns {
  left: rem(10);
  top: rem(100);

  @include mq($screen-sm) {
    left: rem(15);
    top: rem(105);
  }
}

.searchbtns {
  left: rem(10);
  top: rem(10);

  @include mq($screen-sm) {
    left: rem(15);
    top: rem(15);
  }
}

.metenbtns {
  left: rem(55);
  top: rem(165);

  @include mq($screen-sm) {
    left: rem(60);
    top: rem(170);
  }
}

.drawingbtns {
  left: rem(55);
  top: rem(130);

  @include mq($screen-sm) {
    left: rem(60);
    top: rem(135);
  }
}

.zoekbalken {
  left: rem(90);
  top: rem(10);

  @include mq($screen-sm) {
    left: rem(95);
    top: rem(15);
  }
}

.zoekbalk {
  width: rem(150);

  @include mq($screen-sm) {
    width: rem(200);
  }
}

.localiseerbtn {
  right: rem(10);
  bottom: rem(20);

  @include mq($screen-sm) {
    right: rem(15);
    bottom: rem(20);
  }
}
.loading {
  right: rem(10);
  top: rem(10);
  background-color: white;
  @include mq($screen-sm) {
    right: rem(15);
    top: rem(15);
  }
}
.viewbtns {
  right: rem(10);
  bottom: rem(64);

  @include mq($screen-sm) {
    right: rem(15);
    bottom: rem(69);
  }
}

button.btn.active {
  background-color: dodgerblue;
  color: white;
}

.leaflet-left .leaflet-control-scale {
  margin-left: rem(130);
  margin-bottom: rem(13);

  @include mq($screen-sm) {
    margin-left: rem(135);
    margin-bottom: rem(18);
  }
}

.kaarttypes {
  left: rem(10);
  bottom: rem(10);

  @include mq($screen-sm) {
    left: rem(15);
    bottom: rem(15);
  }
}

.kaarttypes > .btn {
    height:30px;
    font-size: 10px;
//   font-weight: small;
}

// Wtf tink ???
// input[type="checkbox"], input[type="radio"] {
//      opacity: 1; 
//      position: static; 
// }
// .visible-box {
//     padding-top: 4px;
// }
.layercontroller-checkbox
{
    margin-left:10px;
}

.addlayerbtn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}

.modal-dialog{
    min-width: 800px;
    background-color: white;
    text-align: left;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid gray;
    // text-align: left;   
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
.modal-content {
    padding: 15px;
    // text-align: left;       
}
.modal-footer {
    padding: 15px;
    border-top: 1px solid gray;
    // text-align: left;   
}
.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.container.container-low-padding {
    padding-left: 0.46875rem;
    padding-right: 0.46875rem;
}
.leaflet-popup-content-wrapper {
    border-radius: 6px;
}
.makeblock{
    display: block !important;
}
.nav-aside{
    width: 25rem !important;
}

.tink-map {
    padding-right: 25rem !important;
    padding-left: 25rem !important;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    opacity: 0.8;
}

svg.leaflet-zoom-animated {
    z-index: 999;
}
.leaflet-marker-pane {
    z-index: 999;
}
.leaflet-popup-pane {
    z-index: 1000;
}

.leaflet-overlay-pane {
    z-index: auto;
}
.leaflet-objects-pane {
    z-index: auto;
}
.leaflet-tile-pane {
    z-index: auto;
}

.modal-dialog {
  min-width: 1000px;
}
.greytext {
  color: grey;
}

a.btn.prev,a.btn.next {
  display: none;
}
div.table-sort-pagination {
      float: left !important;
}