<div style="">
    <div class="modal-header">
        <button type="button" style="float:right" data-ng-click="cancel()"><i class="fa fa-times"></i></button>
        <h4 style="" class="model-title">Laag toevoegen</h5>
    </div>
    <div class="modal-content">
        <div class="row">
            <div class="col-md-4">
                <input class="searchbox" type="text" ng-model="searchTerm" ng-change="searchChanged()" placeholder="Geef een trefwoord of een url in" />
                <input type="text" disabled="disabled" value="https://geodata.antwerpen.be/arcgissql/services/P_SiK/Groeninventaris/MapServer/WMSServer" />
                <div ng-if="!searchIsUrl" ng-repeat="theme in availableThemes">
                        <div ng-click="geopuntThemeChanged(theme)" ng-class="{'greytext': theme.Type != 'wms' &&  theme.Type != 'esri'}">
                            {{theme.Naam}}  
                            <i ng-if="theme.Added == true" class="fa fa-check-circle"></i>
                            <i ng-if="theme.Added == null" class="fa fa-check-circle-o"></i>
                         </div>
                        
                </div> 
                <tink-pagination data-tink-pagination-id="1" tink-current-page="currentPage" tink-items-per-page-values="[5]" tink-change="pageChanged(page,perPage,next)" tink-total-items="numberofrecordsmatched" tink-items-per-page="recordsAPage"></tink-pagination>
            </div>
            <div class="col-md-8">
                <div ng-if="searchIsUrl">
                    <button ng-click="laadUrl()">Laad url</button>
                </div>
                <div ng-if="copySelectedTheme !== null && !searchIsUrl">
                    <button ng-if="copySelectedTheme.Added != false" data-ng-click="AddOrUpdateTheme()">Update</button>
                    <p>{{copySelectedTheme.Description}}</p>
                    <p><small><a ng-href="{{copySelectedTheme.CleanUrl}}" target="_blank">Details</a></small></p>
                        <div class="layercontroller-checkbox">
                       <input indeterminate-checkbox child-list="copySelectedTheme.AllLayers" property="enabled" type="checkbox" ng-model="copySelectedTheme.enabled" id="{{copySelectedTheme.name}}">
                            <label for="{{copySelectedTheme.name}}"> {{copySelectedTheme.name | limitTo: 99}}</label>
                    <div ng-repeat="mainlayer in copySelectedTheme.Layers">
                        <div class="layercontroller-checkbox">
                            <input  type="checkbox" ng-model="mainlayer.enabled" id="{{mainlayer.name}}{{mainlayer.id}}">
                            <label for="{{mainlayer.name}}{{mainlayer.id}}"> {{mainlayer.name | limitTo: 99}}</label>
                        </div>
                    </div>
                    <div ng-repeat="groupLayer in copySelectedTheme.Groups">
                        <div class="layercontroller-checkbox">
                            <input indeterminate-checkbox child-list="groupLayer.Layers" property="enabled" type="checkbox" ng-model="groupLayer.enabled"  
                            id="{{groupLayer.name}}{{groupLayer.id}}">
                            <label for="{{groupLayer.name}}{{groupLayer.id}}"> {{groupLayer.name | limitTo: 99}}</label>
              
                        <div ng-repeat="layer in groupLayer.Layers">
                            <div class="layercontroller-checkbox">
                             
                                 <input  type="checkbox" ng-model="layer.enabled" ng-change="layer.chkChanged()" id="{{layer.name}}{{layer.id}}">
                                <label for="{{layer.name}}{{layer.id}}"> {{layer.name | limitTo: 99}}</label>
                             </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <button ng-if="copySelectedTheme.Added == false" data-ng-click="AddOrUpdateTheme()">Toevoegen</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button data-ng-click="ok()">Klaar</button>
    </div>
</div>