<div style="">
    <div class="modal-header">
        <button type="button" style="float:right" data-ng-click="cancel()"><i class="fa fa-times"></i></button>
        <h4 style="" class="model-title">Laag toevoegen</h5>
    </div>
    <div class="modal-content">
        <div class="row">
            <div class="col-md-4">
                <input class="searchbox" type="text" ng-model="searchTerm" ng-change="searchChanged()" placeholder="Geef een trefwoord of een url in" />
                <div ng-repeat="theme in themes | filter: { Naam: searchTerm }"">
                        <div ng-click="themeChanged(theme)">{{theme.Naam}} </div>
                </div> 
            </div>
            <div class="col-md-8">
                <div ng-if="selectedTheme !== null">
                    <p>{{selectedTheme.Description}}</p>
                    <p><small><a ng-href="{{selectedTheme.CleanUrl}}" target="_blank">Details</a></small></p>
                        <div class="layercontroller-checkbox">
                       <input indeterminate-checkbox child-list="selectedTheme.AllLayers" property="enabled" type="checkbox" ng-model="selectedTheme.enabled" id="{{selectedTheme.name}}">
                            <label for="{{selectedTheme.name}}"> {{selectedTheme.name | limitTo: 20}} {{selectedTheme.enabled}}</label>
                    <div ng-repeat="mainlayer in selectedTheme.Layers">
                        <div class="layercontroller-checkbox">
                            <input  type="checkbox" ng-model="mainlayer.enabled" id="{{mainlayer.name}}{{mainlayer.id}}">
                            <label for="{{mainlayer.name}}{{mainlayer.id}}"> {{mainlayer.name | limitTo: 20}} {{mainlayer.enabled}}</label>
                    </div>
                    </div>
                    <div ng-repeat="groupLayer in selectedTheme.Groups">
                        <div class="layercontroller-checkbox">
                            <input indeterminate-checkbox child-list="groupLayer.Layers" property="enabled" type="checkbox" ng-model="groupLayer.enabled"  
                            id="{{groupLayer.name}}{{groupLayer.id}}">
                            <label for="{{groupLayer.name}}{{groupLayer.id}}"> {{groupLayer.name | limitTo: 20}} {{groupLayer.enabled}}</label>
              
                        <div ng-repeat="layer in groupLayer.Layers">
                            <div class="layercontroller-checkbox">
                             
                                 <input  type="checkbox" ng-model="layer.enabled" ng-change="layer.chkChanged()" id="{{layer.name}}{{layer.id}}">
                                <label for="{{layer.name}}{{layer.id}}"> {{layer.name | limitTo: 20}} {{layer.enabled}}</label>
                             </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <button data-ng-click="AddTheme()">Voeg toe</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button data-ng-click="ok()">Klaar</button>
    </div>
</div>