<div ng-class="{'hidden-print': lyrctrl.layer.IsEnabledAndVisible == false}">
    <div class="" ng-if="lyrctrl.layer.hasLayers">
        <li class="li-item toc-item-without-icon can-open" ng-class="{'open': showLayer}">
            <div>
                <input class="visible-box hidden-print" type="checkbox" id="{{lyrctrl.layer.name}}{{lyrctrl.layer.id}}{{lyrctrl.layer.theme.Naam}}" ng-model="lyrctrl.layer.visible"
                    ng-change="layercheckboxchange(lyrctrl.layer.theme)">
                <label title="{{lyrctrl.layer.name}}" for="{{lyrctrl.layer.name}}{{lyrctrl.layer.id}}{{lyrctrl.layer.theme.Naam}}">{{lyrctrl.layer.name}}</label>
            </div>
            <div>
                <span class="show-layer" ng-click="showLayer = !showLayer"></span>
            </div>
        </li>

        <ul class="" ng-show="showLayer" ng-repeat="layer in lyrctrl.layer.Layers | filter :  { enabled: true }">
            <tink-Layer layer="layer" layercheckboxchange="layercheckboxchange(layer.theme)">
            </tink-Layer>
        </ul>

    </div>

    <li class="li-item toc-item-with-icon" ng-if="!lyrctrl.layer.hasLayers">
        <img class="layer-icon" ng-if="lyrctrl.layer.theme.Type=='esri' && lyrctrl.layer.legend.length===1" class="layer-icon" ng-src="{{lyrctrl.layer.legend[0].fullurl}} "></img>
        <div class="can-open" ng-class="{'open': showLayer2 || showMultiLegend}">
            <input class="visible-box hidden-print" type="checkbox" ng-model="lyrctrl.layer.visible" ng-change="layercheckboxchange(lyrctrl.layer.theme)"
                id="{{lyrctrl.layer.name}}{{lyrctrl.layer.id}}{{lyrctrl.layer.theme.Naam}}">
            <label ng-class="{ 'greytext': lyrctrl.layer.displayed==false} " for="{{lyrctrl.layer.name}}{{lyrctrl.layer.id}}{{lyrctrl.layer.theme.Naam}}" title="{{lyrctrl.layer.title}}">{{lyrctrl.layer.title}}
                    <span class="hidden-print greytext" ng-show="lyrctrl.layer.theme.Type=='wms' && lyrctrl.layer.queryable"> <i class="fa fa-info"></i></span>
              </label>
            <!--&& lyrctrl.layer.queryable-->
            <span style="color:#76b9f4" class="show-layer" ng-show="lyrctrl.layer.theme.Type=='wms'" ng-click="showLayer2 = !showLayer2"></span>
            <span style="color:#76b9f4" class="show-layer" ng-show="lyrctrl.layer.theme.Type=='esri' && lyrctrl.layer.legend.length>1" ng-click="showMultiLegend = !showMultiLegend"></span>
            <ul ng-show="showMultiLegend && lyrctrl.layer.legend.length>1" ng-repeat="legend in lyrctrl.layer.legend" ng-class="{'open': showMultiLegend}">
                <img class="layer-icon" ng-src="{{legend.fullurl}} "></img><span>{{legend.label}}</span>
                <!--<img class="layer-icon" ng-src="data:{{legend.contentType}};base64,{{legend.imageData}} "></img><span>{{legend.label}}</span>-->
            </ul>
            <img class="normal-size" ng-src="{{lyrctrl.layer.legendUrl}}" onerror="this.style.display='none'" ng-show="showLayer2" >
        </div>
    </li>
    <ul class="li-item" ng-if="lyrctrl.layer.theme.Type=='esri' && lyrctrl.layer.legend.length>1" ng-show="showLayer">
        <li ng-repeat="legend in lyrctrl.layer.legend" >
            <img style="width:20px; height:20px;" ng-src="{{legend.fullurl}} "></img><span title="{{legend.label}}">{{legend.label}}</span>
        </li>
        <!--<li ng-if="lyrctrl.layer.theme.Type=='esri' && lyrctrl.layer.legend.length> 1" ng-repeat="legend in lyrctrl.legends">
            <img style="width:20px; height:20px;" ng-src="{{legend.url}}"><img><span>{{legend.label}}</span>
        </li>-->
    </ul>

</div>