<div data-tink-nav-aside="" id="rightaside" data-auto-select="true" data-toggle-id="asideNavRight" class="nav-aside nav-right">
    <aside class="flex-column flex-grow-1">
        <div class="nav-aside-section">
            <p class="nav-aside-title">Lagenoverzicht</p>
        </div>
            <button ng-click="lyrsctrl.asidetoggle" class="nav-right-toggle" data-tink-sidenav-collapse="asideNavRight">
              <a href="#" title="Open menu"><span class="sr-only">Open right menu</span></a>
            </button>
        <div class="flex-column flex-grow-1">
            <div class="layer-management" ng-if="lyrsctrl.layerManagementButtonIsEnabled">
                <div class="col-xs-12 margin-top margin-bottom">
                    <button class="btn btn-primary btn-layermanagement center-block"  ng-click="lyrsctrl.Lagenbeheer()">Lagenbeheer</button>
                </div>
            </div>
            <div class="overflow-wrapper flex-grow-1 extra-padding">
                <ul class="ul-level" id="sortableThemes" ui-sortable="lyrsctrl.sortableOptions" ng-model="lyrsctrl.themes">
                    <li class="li-item" ng-repeat="theme in lyrsctrl.themes">
                        <tink-Theme theme="theme" layercheckboxchange="lyrsctrl.updatethemevisibility(theme)" hidedelete="!lyrsctrl.deleteLayerButtonIsEnabled">
                        </tink-Theme>
                    </li>
                </ul>
                <ul class="ul-level" id="queryLayers" ng-show="lyrsctrl.queryLayers.length > 0">
                    <li class="li-item" ng-repeat="queryLayer in lyrsctrl.queryLayers track by $index">
                        <img class="layer-icon" ng-if="queryLayer.layer.legendUrl" class="layer-icon" ng-src="{{queryLayer.layer.legendUrl}} "></img>
                        <input class="visible-box hidden-print" type="checkbox" id="queryDataChk{{$index}}" ng-model="queryLayer.showLayer" ng-change="lyrsctrl.updateQueryVisibility($index)">
                        <label for="queryDataChk{{$index}}" title="{{ queryLayer.layer.name }}"> {{ queryLayer.layer.name }}
                            <span class="label-info hidden-print">Query</span>
                        </label>
                        <button style="flex-grow: 2" class="trash hidden-print pull-right" ng-click="lyrsctrl.deleteQueryLayer($index)"></button>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
</div>
