<div class="tink-map">
    <div class="printpart">
        <div class="row">
            <h4 class="col-xs-6">Stad in kaart</h4>
            <div class="col-xs-6">
                <div class="btn-group pull-right">
                    <button type="button" class=" btn hidden-print" ng-click="mapctrl.print()">Print</button>
                    <button type="button" class=" btn hidden-print" ng-click="mapctrl.cancelPrint()">Annuleer</button>
                </div>
                <div class="btn-group pull-right" style="margin-right: 5px;">
                    <button type="button" class=" btn hidden-print" ng-class="{active: mapctrl.printStyle=='portrait'}" ng-click="mapctrl.portrait()">Staand</button>
                    <button type="button" class=" btn hidden-print" ng-class="{active: mapctrl.printStyle=='landscape'}" ng-click="mapctrl.landscape()">Liggend</button>
                </div>

            </div>
        </div>
    </div>
    <div class="mappart">
        <tink-Search class="tink-search"></tink-Search>
        <div id="map" class="leafletmap leaflet-crosshair">
            <div class="map-buttons-left">
                <div class="ll drawingbtns" ng-show="mapctrl.showDrawControls">
                    <div class="btn-group ">
                        <button ng-click="mapctrl.selectpunt()" ng-class="{active: mapctrl.drawingType==''}" type="button" class="btn" prevent-default><i class="fa fa-mouse-pointer"></i></button>
                        <button ng-click="mapctrl.drawingButtonChanged('lijn')" ng-class="{active: mapctrl.drawingType=='lijn'}" type="button" class="btn"
                            prevent-default><i class="fa fa-minus"></i></button>
                        <button ng-click="mapctrl.drawingButtonChanged('vierkant')" ng-class="{active: mapctrl.drawingType=='vierkant'}" type="button"
                            class="btn" prevent-default><i class="fa fa-square-o"></i></button>
                        <button ng-click="mapctrl.drawingButtonChanged('polygon')" ng-class="{active: mapctrl.drawingType=='polygon'}" type="button"
                            class="btn" prevent-default><i class="fa fa-star-o"></i></button>
                    </div>
                    <div class="drawingbtns-select">
                        <div class="select">
                            <select>
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="btn-group btn-group-vertical ll interactiebtns">
                    <button type="button" class="btn" ng-click="mapctrl.interactieButtonChanged('identify')" ng-class="{active: mapctrl.activeInteractieKnop=='identify'}"
                        prevent-default><i class="fa fa-info"></i></button>
                    <button type="button" class="btn" ng-click="mapctrl.interactieButtonChanged('select')" ng-class="{active: mapctrl.activeInteractieKnop=='select'}"
                        prevent-default><i class="fa fa-mouse-pointer"></i></button>
                    <button type="button" class="btn" ng-click="mapctrl.interactieButtonChanged('meten')" ng-class="{active: mapctrl.activeInteractieKnop=='meten'}"
                        prevent-default><i class="fa fa-expand"></i></button>
                    <button type="button" class="btn" ng-click="mapctrl.interactieButtonChanged('watishier')" ng-class="{active: mapctrl.activeInteractieKnop=='watishier'}"
                        prevent-default><i class="fa  fa-thumb-tack"></i></button>
                    <!-- fa-map-pin -->
                </div>

                <div class="btn-group ll kaarttypes">
                    <button class="btn" ng-class="{active: mapctrl.IsBaseMap1==true}" ng-click="mapctrl.toonBaseMap1()" prevent-default>{{mapctrl.baseMap1Naam()}}</button>
                    <button class="btn" ng-class="{active: mapctrl.IsBaseMap1==false}" ng-click="mapctrl.toonBaseMap2()" prevent-default>{{mapctrl.baseMap2Naam()}}</button>
                </div>

                <div class="btn-group ll metenbtns" ng-show="mapctrl.showMetenControls">
                    <button ng-click="mapctrl.drawingButtonChanged('afstand')" ng-class="{active: mapctrl.drawingType=='afstand'}" type="button"
                        class="btn" prevent-default><i class="fa fa-arrows-h "></i></button>
                    <button ng-click="mapctrl.drawingButtonChanged('oppervlakte')" ng-class="{active: mapctrl.drawingType=='oppervlakte'}" type="button"
                        class="btn" prevent-default><i class="fa fa-star-o"></i></button>
                </div>

                <div class="btn-group ll searchbtns">
                    <button type="button" class="btn" ng-class="{active: mapctrl.ZoekenOpLocatie==true}" ng-click="mapctrl.fnZoekenOpLocatie()"
                        prevent-default><i class="fa fa-map-marker"></i></button>
                    <button type="button" class="btn" ng-class="{active: mapctrl.ZoekenOpLocatie==false}" ng-click="mapctrl.ZoekenInLagen()"
                        prevent-default><i class="fa fa-download"></i></button>
                </div>

                <form id="zoekbalken" class="form-force-inline ll zoekbalken">
                    <!--<input id="locatiezoek" class="zoekbalk typeahead" type="text" ng-show="mapctrl.ZoekenOpLocatie == true" placeholder="Geef een X,Y / locatie of POI in."
                        prevent-default />-->
                    <select ng-options="layer as layer.name for layer in mapctrl.SelectableLayers()" ng-model="mapctrl.selectedLayer" ng-show="mapctrl.activeInteractieKnop=='select' && mapctrl.SelectableLayers().length > 1"
                    ng-change="mapctrl.layerChange()" prevent-default></select><input type="search" ng-show="mapctrl.ZoekenOpLocatie == false" placeholder="Geef een zoekterm" prevent-default
                    ng-keyup="$event.keyCode == 13 && mapctrl.zoekLaag(mapctrl.laagquery)" ng-model="mapctrl.laagquery"/>
                </form>
            </div>

            <div class="map-buttons-right">


                <div class="btn-group btn-group-vertical ll viewbtns">
                    <button type="button" class="btn" ng-click="mapctrl.zoomIn()" prevent-default><i class="fa fa-plus"></i></button>
                    <button type="button" class="btn" ng-click="mapctrl.zoomOut()" prevent-default><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn" ng-click="mapctrl.zoomToGps()" ng-class="{active: mapctrl.gpstracking==true}" prevent-default><i class="fa fa-crosshairs"></i></button>
                    <!--<button type="button" class="btn" ng-click="mapctrl.fullExtent()" prevent-default><i class="fa fa-home"></i></button>-->
                </div>
                <!--<div class="btn-group btn-group-vertical ll localiseerbtn">
                    <button type="button" class="btn" prevent-default><i class="fa fa-male"></i></button>
                </div>-->

                <div class="ll loading" ng-show="mapctrl.Loading > 0">
                    <div class="loader"></div> {{mapctrl.MaxLoading - mapctrl.Loading}}/ {{mapctrl.MaxLoading}}
                </div>

            </div>

        </div>

        <tink-Layers class="tink-layers"></tink-Layers>
    </div>
    <div class="printpart">

        <div class="row">
            <div class="col-xs-2">
                <img class="float-left print-corner-image" src="https://www.antwerpen.be/assets/aOS/gfx/gui/a-logo.svg" alt="Antwerpen logo">
            </div>
            <div class="col-xs-8">Voorbehoud: De kaart is een reproductie zonder juridische waarde. Zij bevat kaartmateriaal en info afkomstig
                van het stadsbestuur Antwerpen, AGIV, AAPD, Provinciebesturen en mogelijk nog andere organisaties.
            </div>
            <div class="col-xs-2">
                <img class="float-right print-corner-image" src="http://images.vectorhq.com/images/previews/111/north-arrow-orienteering-137692.png"
                    alt="Noord pijl oriëntatielopen">
            </div>
        </div>
    </div>
