<div>
 
    <div style="display:flex; position: relative" class="can-open" ng-class="{'open': showTheme}">
        <input class="visible-box hidden-print" type="checkbox" id="chk{{thmctrl.theme.Naam}}" ng-model="thmctrl.theme.Visible" ng-change="layercheckboxchange(thmctrl.theme)">
        <label for="chk{{thmctrl.theme.Naam}}" title="{{thmctrl.theme.Naam}}"> {{thmctrl.theme.Naam}}
            <span class="label-info hidden-print" ng-show="thmctrl.theme.Type=='esri'">ArcGIS</span>
            <span class="label-info hidden-print" ng-hide="thmctrl.theme.Type=='esri'">{{thmctrl.theme.Type}}</span>
        </label>
        <span class="show-layer" ng-click="showTheme = !showTheme"></span>
        <button ng-hide="hidedelete == true" style="flex-grow: 2" class="trash hidden-print pull-right" ng-click="thmctrl.deleteTheme()"></button>
    </div>
    <div style="display:flex" class="hidden-print" ng-show="thmctrl.theme.Type=='esri'" ng-if="showTheme">
        <rzslider class="custom-slider hidden-print" rz-slider-model="thmctrl.transpSlider.value" rz-slider-options="thmctrl.transpSlider.options"></rzslider>
    </div>
    <ul class="ul-level no-theme-layercontroller-checkbox" ng-repeat="layer in thmctrl.theme.Layers | filter: { enabled: true }" ng-if="showTheme">
        <tink-Layer layer="layer" layercheckboxchange="layercheckboxchange(layer.theme)">
        </tink-Layer>
    </ul>
</div>