<div>
    <input class="visible-box hidden-print" type="checkbox" id="chk{{thmctrl.theme.Naam}}" ng-model="thmctrl.theme.Visible" ng-change="layercheckboxchange(thmctrl.theme)">
    <label for="chk{{thmctrl.theme.Naam}}"> {{thmctrl.theme.Naam}} <span class='hidden-print' ng-show="thmctrl.theme.Type=='esri'">(stad)</span><span class='hidden-print' ng-hide="thmctrl.theme.Type=='esri'">({{thmctrl.theme.Type}})</span></label>
    <button ng-hide="hidedelete == true" class="trash pull-right" ng-click="thmctrl.deleteTheme()"></button>
    <ul class="ul-level no-theme-layercontroller-checkbox" ng-repeat="layer in thmctrl.theme.Layers | filter: { enabled: true }">
        <tink-Layer layer="layer" layercheckboxchange="layercheckboxchange(layer.theme)">
        </tink-Layer>
    </ul>
</div>
